body {
    
}

header {
    display: inline;
    height: 100px;
    width: 200px;
    background: teal;
    color: white;
}

nav {
    float: right;
    height: 100px;
    width: 200px;
    background-color: white
}

footer {
    height: 100px;
    background-color: #666666;
    border-top: 15px; 
    border-color: #4aaaa5;



}