body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/background1.jpg");
    background-color: lightgray;
}


.mainheading {
    display: inline;
    position: relative;
    color: white;
    padding: 0px 10px 10px 10px;
    background-color: #4aaaa5;
    margin-left: 250px;
    align-content: left;
    font-size: 30px;
}

.subheading {
    position: relative;
    color: #4aaaa5;
    background-color: white;
    width: 300px;
    font-size: 25px;
}

a {
    color: #4aaaa5;
    vertical-align: bottom;
}

header {
    height: 100px;
    background-color: #ffffff;
    color: #4aaaa5;
    display: block;
}

.menu {
    height: 100px;
    width: 400px;
    margin-right: 100px;
    background-color: white;
    display: inline;
    margin-top: 200px;
    margin-left: 500px;
    vertical-align: bottom;
}

.clearfix::after {
    content: "nav";
    clear: both;
    display: table;
}

.section1 {
    background-color: white;
    height: 300px;
    width: 960px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 70px;
}

.box {
    background-color: white;
    height: 300px;
    width: 650px;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 70px;
}

.contact {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.pic {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

.mystory {
    height: 200px;
    width: 400px;
}

.resizedTextbox {
    height: 85px;
    width: 550px;
    text-align: start;
}

footer {
    height: 100px;
    background-color: rgb(70, 63, 63);
    border-top: 15px; 
    border-color: #4aaaa5;
    display: fixed;
    margin-top:  60px;
    position: relative;
}

.contactinfo {
    margin-left: 50px;
    margin-top: 20px;
}

.pics1 {
    display: block;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 700px;
    position: relative;
}

.pics2 {
    display: inline;
    margin-left: 150px;
    position: relative;
}

.pics4 {
    display: inline;
    position: relative;
}

#profileheading {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 150px;
    width: 100px;
    height: 70px;
}

#headerBar {
    height: 2px;
    background: rgb(70, 63, 63);
    width: 1150px;
    margin-left: 50px;
}

#footerBar {
    height: 40px;
    margin-top: 30px;
    float: left;
    background: #4aaaa5;
    z-index: 5;
}

.profilefoot {
    height: 100px;
    background-color: rgb(70, 63, 63);
    display: fixed;
    margin-top:  50px;
    z-index: 0
}